Connected Services/CatalogServiceRef/CatalogService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="CatalogService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:59294/Services/CatalogService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:59294/Services/CatalogService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:59294/Services/CatalogService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/HangmanServer.DTOs" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICatalogService_GetCategories_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCategories" />
  </wsdl:message>
  <wsdl:message name="ICatalogService_GetCategories_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCategoriesResponse" />
  </wsdl:message>
  <wsdl:message name="ICatalogService_GetWordsByCategory_InputMessage">
    <wsdl:part name="parameters" element="tns:GetWordsByCategory" />
  </wsdl:message>
  <wsdl:message name="ICatalogService_GetWordsByCategory_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetWordsByCategoryResponse" />
  </wsdl:message>
  <wsdl:portType name="ICatalogService">
    <wsdl:operation name="GetCategories">
      <wsdl:input wsaw:Action="http://tempuri.org/ICatalogService/GetCategories" message="tns:ICatalogService_GetCategories_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICatalogService/GetCategoriesResponse" message="tns:ICatalogService_GetCategories_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetWordsByCategory">
      <wsdl:input wsaw:Action="http://tempuri.org/ICatalogService/GetWordsByCategory" message="tns:ICatalogService_GetWordsByCategory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICatalogService/GetWordsByCategoryResponse" message="tns:ICatalogService_GetWordsByCategory_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICatalogService" type="tns:ICatalogService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCategories">
      <soap:operation soapAction="http://tempuri.org/ICatalogService/GetCategories" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWordsByCategory">
      <soap:operation soapAction="http://tempuri.org/ICatalogService/GetWordsByCategory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CatalogService">
    <wsdl:port name="BasicHttpBinding_ICatalogService" binding="tns:BasicHttpBinding_ICatalogService">
      <soap:address location="http://localhost:59294/Services/CatalogService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>