Connected Services/ScoreServiceRef/ScoreService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:59294/Services/ScoreService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/HangmanServer.DTOs" />
  <xs:element name="GetPlayerScore">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPlayerScoreResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/HangmanServer.DTOs" minOccurs="0" name="GetPlayerScoreResult" nillable="true" type="q1:PlayerScoreDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMatchHistory">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMatchHistoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/HangmanServer.DTOs" minOccurs="0" name="GetMatchHistoryResult" nillable="true" type="q2:ArrayOfMatchHistoryDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>