Connected Services/GameServiceRef/GameService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:59294/Services/GameService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://localhost:59294/Services/GameService.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:59294/Services/GameService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/HangmanServer.DTOs" />
  <xs:element name="JoinGameChannel">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="matchId" type="xs:int" />
        <xs:element minOccurs="0" name="userId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendGuess">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="matchId" type="xs:int" />
        <xs:element minOccurs="0" name="userId" type="xs:int" />
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="guessLetter" type="q1:char" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubmitTurnResult">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="matchId" type="xs:int" />
        <xs:element minOccurs="0" name="userId" type="xs:int" />
        <xs:element minOccurs="0" name="isCorrect" type="xs:boolean" />
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="correctPositions" nillable="true" type="q2:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LeaveMatch">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="matchId" type="xs:int" />
        <xs:element minOccurs="0" name="userId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendChatMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="matchId" type="xs:int" />
        <xs:element minOccurs="0" name="senderUsername" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnGameStarted">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/HangmanServer.DTOs" minOccurs="0" name="gameContext" nillable="true" type="q3:GameContextDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnGuessReceived">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="guessedLetter" type="q4:char" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnTurnResultReceived">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/HangmanServer.DTOs" minOccurs="0" name="turnResult" nillable="true" type="q5:TurnResultDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnGameEnded">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/HangmanServer.DTOs" minOccurs="0" name="endResult" nillable="true" type="q6:GameEndDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnTimerTick">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="secondsLeft" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnChatMessageReceived">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="senderUsername" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>