Connected Services/GameServiceRef/GameService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/HangmanServer.DTOs" xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/HangmanServer.DTOs" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:59294/Services/GameService.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:59294/Services/GameService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="GameContextDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="CategoryName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ChallengerId" type="xs:int" />
      <xs:element minOccurs="0" name="CreatorId" type="xs:int" />
      <xs:element minOccurs="0" name="MatchId" type="xs:int" />
      <xs:element minOccurs="0" name="SecretWord" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WordDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WordLength" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GameContextDTO" nillable="true" type="tns:GameContextDTO" />
  <xs:complexType name="TurnResultDTO">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="CorrectPositions" nillable="true" type="q1:ArrayOfint" />
      <xs:element minOccurs="0" name="CurrentMistakes" type="xs:int" />
      <xs:element minOccurs="0" name="GuessedLetter" type="ser:char" />
      <xs:element minOccurs="0" name="IsCorrect" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TurnResultDTO" nillable="true" type="tns:TurnResultDTO" />
  <xs:complexType name="GameEndDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="PenalizedUserId" type="xs:int" />
      <xs:element minOccurs="0" name="Reason" type="tns:MatchEndReason" />
      <xs:element minOccurs="0" name="WinnerId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GameEndDTO" nillable="true" type="tns:GameEndDTO" />
  <xs:simpleType name="MatchEndReason">
    <xs:restriction base="xs:string">
      <xs:enumeration value="WordGuessed" />
      <xs:enumeration value="MaxMistakesReached" />
      <xs:enumeration value="Abandoned" />
      <xs:enumeration value="Timeout" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="MatchEndReason" nillable="true" type="tns:MatchEndReason" />
</xs:schema>