Connected Services/MatchmakingServiceRef/MatchmakingService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="MatchmakingService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:59294/Services/MatchmakingService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:59294/Services/MatchmakingService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:59294/Services/MatchmakingService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/HangmanServer.DTOs" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMatchmakingService_CreateMatch_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateMatch" />
  </wsdl:message>
  <wsdl:message name="IMatchmakingService_CreateMatch_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateMatchResponse" />
  </wsdl:message>
  <wsdl:message name="IMatchmakingService_GetAvailableMatches_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAvailableMatches" />
  </wsdl:message>
  <wsdl:message name="IMatchmakingService_GetAvailableMatches_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAvailableMatchesResponse" />
  </wsdl:message>
  <wsdl:message name="IMatchmakingService_GetMatchStatus_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMatchStatus" />
  </wsdl:message>
  <wsdl:message name="IMatchmakingService_GetMatchStatus_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMatchStatusResponse" />
  </wsdl:message>
  <wsdl:message name="IMatchmakingService_JoinMatch_InputMessage">
    <wsdl:part name="parameters" element="tns:JoinMatch" />
  </wsdl:message>
  <wsdl:message name="IMatchmakingService_JoinMatch_OutputMessage">
    <wsdl:part name="parameters" element="tns:JoinMatchResponse" />
  </wsdl:message>
  <wsdl:message name="IMatchmakingService_StartMatch_InputMessage">
    <wsdl:part name="parameters" element="tns:StartMatch" />
  </wsdl:message>
  <wsdl:message name="IMatchmakingService_StartMatch_OutputMessage">
    <wsdl:part name="parameters" element="tns:StartMatchResponse" />
  </wsdl:message>
  <wsdl:message name="IMatchmakingService_LeaveMatch_InputMessage">
    <wsdl:part name="parameters" element="tns:LeaveMatch" />
  </wsdl:message>
  <wsdl:message name="IMatchmakingService_LeaveMatch_OutputMessage">
    <wsdl:part name="parameters" element="tns:LeaveMatchResponse" />
  </wsdl:message>
  <wsdl:message name="IMatchmakingService_GetUserIdByUsername_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserIdByUsername" />
  </wsdl:message>
  <wsdl:message name="IMatchmakingService_GetUserIdByUsername_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserIdByUsernameResponse" />
  </wsdl:message>
  <wsdl:portType name="IMatchmakingService">
    <wsdl:operation name="CreateMatch">
      <wsdl:input wsaw:Action="http://tempuri.org/IMatchmakingService/CreateMatch" message="tns:IMatchmakingService_CreateMatch_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMatchmakingService/CreateMatchResponse" message="tns:IMatchmakingService_CreateMatch_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAvailableMatches">
      <wsdl:input wsaw:Action="http://tempuri.org/IMatchmakingService/GetAvailableMatches" message="tns:IMatchmakingService_GetAvailableMatches_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMatchmakingService/GetAvailableMatchesResponse" message="tns:IMatchmakingService_GetAvailableMatches_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMatchStatus">
      <wsdl:input wsaw:Action="http://tempuri.org/IMatchmakingService/GetMatchStatus" message="tns:IMatchmakingService_GetMatchStatus_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMatchmakingService/GetMatchStatusResponse" message="tns:IMatchmakingService_GetMatchStatus_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="JoinMatch">
      <wsdl:input wsaw:Action="http://tempuri.org/IMatchmakingService/JoinMatch" message="tns:IMatchmakingService_JoinMatch_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMatchmakingService/JoinMatchResponse" message="tns:IMatchmakingService_JoinMatch_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="StartMatch">
      <wsdl:input wsaw:Action="http://tempuri.org/IMatchmakingService/StartMatch" message="tns:IMatchmakingService_StartMatch_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMatchmakingService/StartMatchResponse" message="tns:IMatchmakingService_StartMatch_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LeaveMatch">
      <wsdl:input wsaw:Action="http://tempuri.org/IMatchmakingService/LeaveMatch" message="tns:IMatchmakingService_LeaveMatch_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMatchmakingService/LeaveMatchResponse" message="tns:IMatchmakingService_LeaveMatch_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserIdByUsername">
      <wsdl:input wsaw:Action="http://tempuri.org/IMatchmakingService/GetUserIdByUsername" message="tns:IMatchmakingService_GetUserIdByUsername_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMatchmakingService/GetUserIdByUsernameResponse" message="tns:IMatchmakingService_GetUserIdByUsername_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IMatchmakingService" type="tns:IMatchmakingService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateMatch">
      <soap:operation soapAction="http://tempuri.org/IMatchmakingService/CreateMatch" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAvailableMatches">
      <soap:operation soapAction="http://tempuri.org/IMatchmakingService/GetAvailableMatches" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMatchStatus">
      <soap:operation soapAction="http://tempuri.org/IMatchmakingService/GetMatchStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="JoinMatch">
      <soap:operation soapAction="http://tempuri.org/IMatchmakingService/JoinMatch" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StartMatch">
      <soap:operation soapAction="http://tempuri.org/IMatchmakingService/StartMatch" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LeaveMatch">
      <soap:operation soapAction="http://tempuri.org/IMatchmakingService/LeaveMatch" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserIdByUsername">
      <soap:operation soapAction="http://tempuri.org/IMatchmakingService/GetUserIdByUsername" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MatchmakingService">
    <wsdl:port name="BasicHttpBinding_IMatchmakingService" binding="tns:BasicHttpBinding_IMatchmakingService">
      <soap:address location="http://localhost:59294/Services/MatchmakingService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>